/* Style for the overlay */
.container {
    position: fixed; /* Fixed position to stay on top of the page */
    background-color: white; /* White background */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Move back by half the width & height */
    z-index: 9999; /* Ensure it stays above other content */
    border-radius: 15px; /* Optional: Rounds the corners of the overlay */
    overflow-y: auto; /* Enables scrolling */
    overflow-x: hidden;
    height: 90vh; /* Restrict the height to 90% of the viewport height */
    width:  75vw ;
}

.content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    /* padding: 20px; */
    width: 100%; /* Ensure it stretches properly */    
    max-height: 90vh; /* Prevent content from overflowing */
}

/* Optional: Style for the content */
p {
    margin-bottom: 15px;
}

/* Style for the exit button */
.exit-button {
    position: absolute;
    top: 0px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: violet;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
}

.exit-button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Light background when hovered */
    color: #ff0000; /* Change color to red on hover */
}

.exit-button:focus {
    outline: none; /* Remove the default focus outline */
}