body {
  background-image: url("../images/backgorund.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  font-family: Verdana, sans-serif;
}

h1 {
  font-size: 2em; /* 2 times the size of the parent */
}
p {
  font-size: 120%; /* 120% of the parent element */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introduction {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 60vh;
    width: 75vw;
    max-width: 1500px;
    min-width: 800px;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.introduction-text {
  flex: 0 1 auto; /* Prevents excessive growth */
  margin: auto;
  padding: 5%;
}

.introduction-image img {
  width: auto; /* Set desired width for the image */
  height: 100%; /* Maintain aspect ratio */
  object-fit: contain;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: white;
 }

.skills-Technical,
.skills-Education,
.skills-Hobies {
  flex: 1 1 0;
  padding: 5px;
  margin-bottom: 5%;
}
.best-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.best-projects-1 {
    background-color: white;
    height: 600px;
    width: 500px;
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best-projects-1-image {
    height: 55%;
    width: 100%;
    overflow: hidden;
}

.best-projects-1 img {
    height: auto;
    width: 100%;
}

.best-projects-1-text { 
  padding-inline: 5%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.best-projects-1-text * {
  margin: 7px 0; /* Reduce top & bottom margins */
  padding: 0;
}

.work,
.education{
    background: white;
    padding: 2%;
    margin:1%;
    width: 80%;
    border-radius: 25px;
}

.contacts{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
}

.contacts-Address,
.contacts-Phone,
.contacts-Email {
  background-color: white;
  flex: 1 1 0;
  margin:1px;
  text-align: center;
  display: flex; /* Makes the individual box a flex container */
  flex-direction: column;
  align-items: center; /* Centers text vertically inside each box */
  justify-content: center; /* Ensures horizontal centering for the text */
}

/* Style for the veil */
#veil {
  position: fixed; /* Fixed position to cover the entire page */
  top: 0;           /* Top of the page */
  left: 0;          /* Left of the page */
  width: 100vw;     /* Full width of the viewport */
  height: 100vh;    /* Full height of the viewport */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent white background */
  z-index: 9998;    /* Ensure it's above other content */
}

.lock-scroll {
  overflow: hidden; /* Disable scrolling */
}